<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qust.task.mapper.AccountMapper">
    <!--用户登录security版-->
    <select id="securityLogin" resultType="com.qust.task.model.AccountModel">
        select *
        from account
        where uname = #{uname}
           or phonenumber = #{uname}
    </select>
    <update id="resetPwd">
        update account
        set pwd=#{pwd}
        where id = #{id}
    </update>
    <insert id="regist" useGeneratedKeys="true" keyProperty="id">
        insert into account(uname, realname, pwd, phonenumber, utype, updatetime, createtime)
        values (#{uname}, #{realname}, #{pwd}, #{phoneNumber}, #{utype}, #{updatetime}, #{createtime})
    </insert>
    <sql id="updateValue">
        <trim prefixOverrides=",">
            <if test="pwd !=null and pwd != ''">
                ,pwd=#{pwd}
            </if>
            <if test="uname != null and uname != ''">
                ,uname=#{uname}
            </if>
            <if test="phoneNumber !=null and phoneNumber != ''">
                ,phonenumber=#{phoneNumber}
            </if>
            <if test="realname !=null and realname != ''">
                ,realname=#{realname}
            </if>
            <if test="updatetime !=null">
                ,updatetime=#{updatetime}
            </if>
            <if test="createtime !=null">
                ,createtime=#{createtime}
            </if>
        </trim>
    </sql>

    <update id="updateAccount">
        update account set <include refid="updateValue"></include> where id=#{id}
    </update>
    <select id="checkPhone" resultType="int">
        select count(id)
        from `doctor`
        where phone = #{phoneNumber} limit 1
    </select>
</mapper>