<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qust.task.mapper.CompanyPolicyMapper">

    <!--查询所有的医药公司政策结果集-->
    <resultMap id="getAllPolicyMap" type="com.qust.task.model.CompanyPolicyModel">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="message" column="message"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="drugCompanyModel" javaType="com.qust.task.model.DrugCompanyModel">
            <id property="companyId" column="company_id"/>
            <result property="companyName" column="company_name"/>
        </association>
    </resultMap>
    <!--查询所有的医药公司政策-->
    <select id="getAllPolicy" resultMap="getAllPolicyMap">
        SELECT cp.id,cp.title,cp.message,cp.company_id,cp.update_time,dc.company_name
        FROM `company_policy` cp left join drugcompany dc on cp.company_id=dc.company_id
        <where>
            <trim prefixOverrides="OR">
                <if test="keyword != null and keyword != ''">
                    <bind name="key" value="'%' + keyword + '%'"/>
                    OR cp.title LIKE #{key}
                    OR cp.id LIKE #{key}
                    OR cp.message LIKE #{key}
                    OR cp.company_id LIKE #{key}
                    OR cp.update_time LIKE BINARY #{key}
                </if>
            </trim>
        </where>
    </select>
<!--添加医药公司政策-->
    <insert id="savePolicy">
        insert into `company_policy`(title, message, company_id, create_time, update_time)
        values (#{title}, #{message}, #{companyId}, #{createTime}, #{updateTime})
    </insert>

    <!--更新医药公司政策-->
    <update id="updatePolicy">
        update `company_policy`
        set title=#{title},
            message=#{message},
            company_id=#{companyId},
            update_time=#{updateTime}
        where id = #{id}
    </update>

    <!--根据id删除医药公司政策-->
    <delete id="deletePolicy">
        delete
        from `company_policy`
        where id = #{id}
    </delete>
    <delete id="deletePolicyByCompany">
        delete
        from `company_policy`
        where company_id = #{id}
    </delete>
</mapper>