<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qust.task.mapper.DoctorMapper">
    <resultMap id="getAllDoctorMap" type="com.qust.task.model.DoctorModel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="doctorLevel" column="lname"/>
        <result property="phoneNumber" column="phone"/>
        <result property="accountId" column="account_id"/>
        <result property="typeId" column="tid"/>
        <result property="treatType" column="tname"/>
    </resultMap>
    <!--查询所有的医师信息-->
    <select id="getAllDoctor" resultMap="getAllDoctorMap">
        SELECT d.id,d.name,d.age,d.sex,d.level_id,d.phone,d.hospital,d.account_id,dl.id as lid,
        dl.name as lname,tt.name as tname,tt.id as tid FROM `doctor` d left join doctor_level dl on d.level_id=dl.id
        left join treat_type tt on d.type_id=tt.id
        <where>
            <trim prefixOverrides="OR">
                <if test="keyword != null and keyword != ''">
                    <bind name="key" value="'%' + keyword + '%'"/>
                    OR d.name LIKE #{key}
                    OR d.id LIKE #{key}
                    OR tt.name LIKE #{key}
                    OR d.phone LIKE #{key}
                    OR dl.name LIKE #{key}
                </if>
            </trim>
        </where>
        order by id
    </select>
    <!--查询所有的医师级别-->
    <select id="getAllLevel" resultType="com.qust.task.model.DoctorLevelModel">
        select id, name
        from `doctor_level`
    </select>
    <!--查询所有的诊治类型-->
    <select id="getAllTreatType" resultType="com.qust.task.model.TreatTypeModel">
        select id, name
        from `treat_type`
    </select>
    <insert id="saveDoctor">
        insert into `doctor`(name, age, sex, level_id, phone, account_id, type_id, createtime, updatetime)
        values (#{name}, #{age}, #{sex}, #{levelId}, #{phoneNumber}, #{accountId}, #{typeId}, #{createTime},
                #{updateTime})
    </insert>
    <update id="updateDoctor">
        update `doctor`
        set name=#{name},
            age=#{age},
            sex=#{sex},
            level_id=#{levelId},
            phone=#{phoneNumber},
            type_id=#{typeId},
            updatetime=#{updateTime}
        where id = #{id}
    </update>
    <delete id="deleteDoctorById">
        delete a,d
        from doctor d,
             account a
        where d.id = #{id}
          and d.account_id = a.id
    </delete>
</mapper>