.el-container {
  height: 100%;

  .el-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e9eb;
    padding: 15px 20px 0 20px;

    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  .el-main {
    box-sizing: border-box;
    margin: 20px 15px 10px 20px;
    background-color: #fff;
    border-top: 3px solid #e8ebed;
    padding: 0;
    overflow: hidden;

    .main-title {
      height: 35px;
      padding: 10px;
      border-bottom: 1px solid #e6e9eb;
      margin-bottom: 10px;

      h3 {
        margin-top: 10px;
        float: left;
      }

      .new-add {
        float: right;
        background: url("../assets/add.png") no-repeat;
        background-size: 100%;
        height: 40px;
        width: 40px;
        margin-right: 20px;
      }
    }

    .search-col {
      margin-left: 20px;
      margin-bottom: 5px;
    }
  }

  .el-table {
    padding: 0px 20px;
    border: 0;

    .demo-table-expand {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .demo-table-expand .el-form-item {
      margin: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .table-btn-update {
      background: url("../assets/update.png") no-repeat;
      background-size: 89%;
      height: 45px;
      width: 40px;
      font-size: 12px;
    }
    .table-btn-delete {
      background: url("../assets/delete.png") no-repeat;
      background-size: 100%;
      height: 45px;
      width: 40px;
      font-size: 12px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}